body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}

.navbar-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
  
}
.navbar-title{
  color: black;
  text-decoration: none;
}

.heading-img {
  width: 100%;
  height: 400px;
}
.navbar-container{
  width: 100%;
  display: block;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  position: fixed;
  margin-bottom: 60px;
}
.input-container{
  position: relative;
}
.input {
  margin-left: 280px;
  width: 350px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}
.icon{
  position: absolute;
  right: 20px;
  top: 12px;
}
.logo-image {
  width: 150px;
  background-color: azure;
  border-radius: 20px;
  
}
.button-login {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 8em;
  height: 45px;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.button-login:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.button-login:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.button-login:hover::before {
  filter: blur(20px);
}

.button-login:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
 
 
.navbar-title {
  font-size: 20px;
  margin-right: 30px;
  padding: 10px;
  cursor: pointer;
}
.navbar-container-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

}

.limited-offer{
  color:black;
}
 .img-container{
 padding-top : 165px;
} 
.filter-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.close-shoe-img {
  width: 200px;
  height: 200px;
  border-radius: 18px;
  margin-left: 25px;
  margin-top: 10px;
}

.container-special-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.special-offer {
  width: 250px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.collection-container {
  
  width: 300px;
  height: 350px;
  border: 2px solid black;
  border-radius: 20px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(161,255,255,1) 11.3%, rgba(6,255,255,1) 41.2%, rgba(0,216,216,1) 77.8% );
  box-shadow: 1px 1px 2px 2px gray;  
}
.Collection-heading{
  background-image: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%, rgba(78,248,231,1) 112.8% );
  /* border: 2px solid black; */
  padding:10px;
  margin: 10px;
  width: 330px;
  margin: 20px auto;
  text-align: center;
  border-radius: 70px 0 70px 0;
  /* box-shadow: 0 0 1px 1px ; */
}
.container-explore-more{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.explore-more{
  width: 300px;
  text-align: center;
  /* border: 2px solid black; */
  margin: 30px auto;
  padding: 10px;
  background-image: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%, rgba(78,248,231,1) 112.8% );
  border-radius: 50px 0px 50px 0px ;
}
.explore-card{
  margin: 0 auto;
  height: 300px;
  width: 250px;
  border: 2px solid black;
  box-shadow: 1px 1px 2px 2px gray;   
  border-radius: 20px;
  background-color: wheat;
}
.company-name{
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 20px;
 }
 .button-1 {
  margin-top: 5px;
  padding: 0.7em 1.6em;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: black;
 }
 
 .button-1::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .button-1:hover::before {
  width: 105%;
 }
 
 .button-1:hover {
  color: #111;
 }
 
/* footer section */
*{
  padding: 0;
  margin: 0;
}

.brand-logo{
  width: 100px;
  /* padding-top: 20px; */
  border-radius: 20px ;
}


.hedding-container{
  font-family: "Anta", sans-serif;  
  display: inline-block;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 10px;
 
  background-color: black;
}
.footer-heading{
  color: white;
  font-size: 13px;
  padding-top: 40px;
  
}
.social-media-image{
  width: 20px;
}

.headding{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.address{
  color: white;
  
}
/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
  .input {
    margin-left: 20px; 
    width: 250px; 
  }
  .heading-img{
    width: 90px;
    height: 100px;
  }
  .navbar-title {
    font-size: 16px; 
    margin-right: 15px; 
  }
  .collection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* For screens between 600px and 1200px */
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .navbar-container {
    padding: 5px; 
  }

  .button-login {
    width: 6em; 
    height: 40px; 
  }
}

/* For screens larger than 1200px */
@media screen and (min-width: 1201px) {
  .navbar-container {
    margin-bottom: 80px;
  }

  .heading-img {
    height: 500px; 
  }
}
