.main-container{
    
    width: 100%;
  }
.sub-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-card2 {
    height: 530px;
    width: 300px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px grey;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    cursor: pointer;
}

.product-name2{
    text-align: center; 
    margin-top:-20px;
}

.shoes-img2 {
    width: 250px;
    margin: 0px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.btn-next{
    width: 10%;
    margin-left: 215px;
    
}

.price {
    margin: 0px 90px;
}
.product-logo-1{
    width: 400px;
    height: 150px;
    margin: 0px 35%;
  
}
 .btn-buy{
    margin-top: 4.5%;
    margin-left: 25%;
 }